<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Properties>
        <Property name="logPattern">%d{MM/dd HH:mm:ss.SSS} [%-5p] [%t] [%c]: %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info" />
        <Logger name="org.apache.commons" level="info" />
        <Logger name="org.apache.commons" level="info" />
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>